<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-50</integer>
		<key>F</key>
		<integer>0</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-70</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-110</integer>
		<key>W</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-120</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-70</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>Y</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-30</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-100</integer>
		<key>U</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-110</integer>
		<key>Y</key>
		<integer>-110</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>0</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-40</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>0</integer>
		<key>U</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-70</integer>
		<key>a</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>Y</key>
		<integer>0</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-80</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-80</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>0</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>G</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-30</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-90</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-75</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-40</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>t</key>
		<integer>-30</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>t</key>
		<integer>-30</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>0</integer>
		<key>e</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>tt</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>o</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
